@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html{

}
body{
   margin: auto;
}
.nav-bar {
	height:50px;
    background-color: #95836D;
    position: fixed;
    width: 100%;
    padding-left: 210px;
   /*padding-right not working*/
}
 .Logo-Detail
{
        float:left; 
        height:50px;
        width:120px;	
} 
ul {
    list-style-type: none;
    overflow: hidden;
    float:right;
    padding-right: 430px;
}

li {
  float: left;
  margin-right: 10px;
}

li a {
  display: block;
opacity: 1;
    padding-left: 10px;
   text-decoration: none;
    color:#FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 4px;
    line-height: 15px;
}

.first-section{
    background-image: url(../Images/banner-bg.png);
    background-size: 100% 100%;
    height:620px;
    background-repeat: no-repeat;
    padding: 150px 210px 0px;
}
.first_sec-centered{
    background-color: #FFFFFF40;
    border-radius: 10px;
    height:360px;
    width:840px;
    float:left;
    padding-left: 50px;
    padding-top: 30px;
    margin-bottom: 40px;
}
.content-1sec{
    float:left;
    width:400px;
}
.banner-Mobileimg{
   height:320px;
    width:370px;
    float:left;
    padding-left: 40px;
    padding-top: 10px;
}
.header-1sec{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
    font-size: 20px;
    line-height: 50px;
}
.headerDetails-1sec{
    color:#FFFFFF;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.headerDetail-2-1sec{
color:#FFFFFF;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
     padding-bottom: 20px;
    padding-top:20px;
}
.requestQ-btn-1sec{
    border-radius: 24px;
    height:35px;
    width:140px;
    color: #000000;
    font-size:15px;
    text-align: center;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.learnM-btn-1sec{
    border-radius: 24px;
    color:#FFFFFF;
    border: 1px solid #fff;
    height:35px;
    width:100px;
    background-color:  rgba(255, 255, 255, 0.1);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.linkdin-btn {
  background-color: #007AB9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: scale-down;
  position: fixed;
  bottom: 20px;
  left: 30px;
  cursor: pointer;
}

.twitter-btn {
  background-color: #55ACEE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: scale-down;
  position: fixed;
  bottom: 80px;
  left: 30px;
  cursor: pointer;
}


.facebook-btn {
  background-color: #3B5998;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: scale-down;
  position: fixed;
  bottom: 140px;
  left: 30px;
  cursor: pointer;
    
}
.fourDiv-1sec{
    padding-left: 120px;
    line-height: 25px;
    text-align: center;
    color:  #F2F2F2;
    font-size: 13px;
    height:110px;
    width:800px;
}
.fourDiv-1sec img{
    height : 60px;
    width : 60px;
    display: block;
    margin: 0px auto;
    padding-bottom: 20px;
}
.fourDiv-one-1sec{
    float: left;
    height: 100px;
    width:100px;
    padding: 15px 15px 10px 15px;
    border-radius: 20px;
    background-color: #E6E6E64D;
    margin-right: 50px;
}
.fourDiv-two-1sec{
    float: left;
    height: 100px;
    width:100px;
    padding: 15px 15px 10px 15px;
    border-radius: 20px;
    background-color: #E6E6E64D;
     margin-right: 50px;
}
.fourDiv-three-1sec{
    float: left;
    height: 100px;
    width:100px;
    padding: 15px 15px 10px 15px;
    border-radius: 20px;
    background-color: #E6E6E64D;
     margin-right: 50px;
}
.fourDiv-four-1sec{
     float: left;
    height: 100px;
    width:100px;
    padding: 15px 15px 10px 15px;
    border-radius: 20px;
    background-color: #E6E6E64D;
     margin-right: 50px;
}
.second-section{
    background-color: #FFFFFF;
    height: 530px;
    padding: 50px 210px 0px;
}
.second_sec-centered{
    height: 370px;
    width:1000px;
}

.second_sec-centered h1{
    text-align: center;
    color: #000000;
    font-size: 25px;
    line-height: 30px;
    
}
.cctv_img-2sec{
    float: left;
    width: 400px;
    height:170px;
}
.cctv_content-2sec{
    float:left;
    padding-left: 50px;
}
.cctv_content-2sec h4{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color:#000000;
}
.cctv_content-2sec p{
    font-size: 13px;
    width: 330px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 20px;
    color:#000000;
}

.webdesign_content-2sec{
    float:left;
    width: 50%;
}
.webdesign_content-2sec h4{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color:#000000;
}
.webdesign_content-2sec p{
    font-size: 13px;
    width: 330px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 20px;
    color:#000000;
}
.desktop_img-2sec{
    float:left;
    width: 400px;
    height:170px;
}
.about_cctv-2sec{
    height:50%;
    padding-top: 20px;
}
.about_webdesign-2sec{
     height:50%;
}
.third-section{
    background-color: #F6F8FB;
    height:260px;
    text-align: center;
}
.third-section h2{
    padding-top: 40px;
}
.partners-3sec img{
    padding-left: 20px;
    padding-top: 20px;
    width:100px;
    height:100px;
}
.forth-section{
    margin-top: 10px;
    background-color: #F6F8FB;
    height:440px;
    text-align: center;
}
.exp-4sec{
    float:left;
     width:200px;
    height:300px;
    padding-left: 210px;
    padding-right: 145px;
}
.operator-4sec{
    float:left;
     width:200px;
    height:300px;
    padding-right: 145px;
}
.review-4sec{
    float:left;
     width:200px;
    height:300px;
   
}
.forth-section h2{
    padding-top: 60px;
    padding-bottom: 30px;
}

.fivth-section{
    height:550px;
    background-color: #FFFFFF;
    padding: 60px 210px 0px;    
}
.fivth-section h2 {
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 25px;
}
.projectDetails-5sec{
    width:940px;
    height: 600px;
    padding-top: 30px;
}
.buttons-5sec button{
    background-color: #707070;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height:40px;
    width: 120px;
    font-size: 13px;
    line-height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color:none;
}
.details-5sec{
    background-color: #F2F2F2;
    height:320px;
    width:840px;
    padding: 20px 30px 0px 20px;
    margin-top: 5px;
}
.laptop-div{
    width:400px;
    height:300px;
    float:left;
    padding-top: 30px;
    border-radius: 25px;
}
.laptopimg-5sec{
     width:310px;
    height:200px;
    padding:20px 30px;
    background-color: #FFFFFF;
}
.imgDetail-5sec{
    float:left;
    width:400px;
     padding-top: 30px;
    padding-right:40px; 
}
.imgDetail-5sec h2{
    color : #000000;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 25px;
}
.imgDetail-5sec p{
    color:#000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
}
.imgDetail-5sec a{
    text-decoration: none;
    color: #03A71C;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 25px;
    font-size: 17px;
}
.footer{
    background-image: url(../Images/foter-bg.png);
    height:120px;
   
}
.footer-logo{
    padding-left: 210px;
    height:100px;
    padding-top: 10px;
    float:left;
}
.footer-details{
    color:#FFFFFF;
    font-size: 9px;
    line-height: 15px;
    float:right;
    width:350px;
    padding: 20px 230px 0px 0px;
     font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.footer-copyright{
    line-height: 50px;
     
}